@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  @apply text-slate-900 antialiased;
  background: #eeeeee;
}

img {
  display: block;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

.aicar-container {
  @apply mx-auto w-full px-4;
  max-width: 960px;
}

.aicar-header-container {
  @apply mx-auto w-full px-4;
  max-width: 1200px;
}